students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="sex" type="xs:string" />
              <xs:element name="birthDate" type="xs:string" />
              <xs:element name="phone" type="xs:unsignedInt" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="course" type="xs:string" />
              <xs:element name="specialty" type="xs:string" />
              <xs:element name="facultyNumber" type="xs:unsignedInt" />
              <xs:element maxOccurs="unbounded" name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="tutor" type="xs:string" />
                    <xs:element name="score" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="enrollment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="date" type="xs:dateTime" />
                    <xs:element name="examScore" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" name="endorsements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Discipline" type="xs:string" />
                    <xs:element name="TeacherName" type="xs:string" />
                    <xs:element name="signature" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
